<div class="film-details app-background">

  @if (isLoading) {
    <div class="loader"></div>
  }

  @if (!isLoading && film) {
		<div class="wrapper">
			<div class="top">

				<div class="poster">
					<img [src]="film.img" [alt]="film.title" />
				</div>

				<div class="info">

					<h1 class="title">
						{{ film.title | titlecase }}
					</h1>

					<div class="meta">

						<div class="meta-item">
							<div class="label">Year</div>
							<div class="value">{{ film.year }}</div>
						</div>

						<div class="meta-item">
							<div class="label">Genre</div>
							<div class="value">{{ film.genre }}</div>
						</div>

						<div class="meta-item">
							<div class="label">Description</div>
							<div class="value desc">
								{{ film.description | capitalizeText }}
							</div>
						</div>

						<div class="meta-item">
							<div class="label">Uploaded</div>
							<div class="value date">
								{{ film._createdOn | date:'mediumDate' }}
								by {{ film._ownerUsername }}
							</div>
						</div>

					</div>

					<div class="actions">
						@if (isLoggedIn() && currentUser()?._id === film._ownerId) {
							<button [routerLink]="['/films', film._id, 'edit']">Edit</button>
							<button (click)="deleteFilmHandler()">Delete</button>
						}
					</div>

				</div>

				<div class="likes-badge">

					@if (isLoggedIn() && currentUser()?._id !== film._ownerId) {

						@if (!hasLiked()) {
							<button class="like-btn" (click)="likeHandler()">
								<mat-icon class="icon">thumb_up_off_alt</mat-icon>
								<span class="count">{{ likesCount() }}</span>
							</button>
						} @else {
							<button class="like-btn liked" (click)="unlikeHandler()">
								<mat-icon class="icon">thumb_up</mat-icon>
								<span class="count">{{ likesCount() }}</span>
							</button>
						}

					} @else {

						<div class="like-view">
							<mat-icon class="icon">thumb_up</mat-icon>
							<span class="count">{{ likesCount() }}</span>
						</div>

					}

				</div>
			</div>

			<div>
				<app-film-comments
					[filmId]="film._id"
					[filmOwnerId]="film._ownerId">
				</app-film-comments>
			</div>

		</div>
		}
</div>