<mat-toolbar color="primary" class="header">
  <div class="logo" routerLink="/home">
    Film<span>Box</span>
  </div>

  <span class="spacer"></span>

  <nav class="nav-links">
    <a mat-button routerLink="films/catalog">Catalog</a>
    
    @if (isLoggedIn()) {
      <a mat-button routerLink="films/create">Create</a>
      <button mat-button (click)="logout()">Logout</button>
    } @else {
      <a mat-button routerLink="/login">Login</a>
      <a mat-button routerLink="/register">Register</a>
    }
  </nav>
</mat-toolbar>
