<section class="film-board latest">
  <div class="film-section">
    <h2 class="section-title">Latest Films</h2>

    <div class="films-grid">

      @if (films$ | async; as films) {

        @if (films.length > 0) {
          @for (film of films; track film._id) {
            <app-film-item [film]="film"></app-film-item>
          }
        } @else {
          <p class="no-films">No films available.</p>
        }

      } @else {
        <div class="loader"></div>
      }

    </div>
  </div>
</section>