<footer class="footer">

  <div class="footer-content">

    <a class="logo" routerLink="/home">
      Film<span>Box</span>
    </a>

    <nav class="footer-links">
      <a routerLink="films/catalog">Catalog</a>
      @if (isLoggedIn()) {
        <a mat-button routerLink="/library">Library</a>

      } @else {
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
      }
    </nav>

    <p class="copyright">
      © 2026 FilmBox. All rights reserved.
    </p>

  </div>

</footer>
